#backDiv {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    position: center;
    display:flex;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.infoDiv {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}

#label::after {
    content: "*";
    color: red;
}

.info {
    padding: 5px;
    text-align: center;
    margin-left:10%;
}

#btnDiv {
    height: 35px;
    margin-bottom:5%;
}
#label {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

#labelH {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
}

.fillLabel {
    width: 120px;
    border: 2px solid #41719C;
    color: white;
    background: #70ad47;
    padding :5px;text-align:center;
    margin-bottom: 0px;
    block-size: fit-content;
}
#input {
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#img {
    border: 2px solid #fdfdfd;
    margin-left:10%;
    width:55%;
}
#inputdate{
    border: 2px solid #41719C;
    margin-left:10%;
    width:55%;
}
#radioBtn {
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv {
    text-align: center;  
}
#error {
    color: red; 
}
#submitId {
    border-color: #41719C;
    border-width: 2px;
    border-style: solid;
    background-color: #70ad47;
}
.imgInfo {
    margin-left: 50px;

}
.imgShow {
    margin-left:10%;
}
#cfmBtn {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom:5%;
}